@charset "UTF-8";

* {
    margin: 0px;
padding: 0px;
}

html {
    font-size: 16px;
}

HTML,body {
    background-color: aliceblue;
    min-height: 100vh;
}

header {
    background: linear-gradient(#000045, #00006B, #00005E);
    color:ghostwhite;
    text-align: center;
    
}

header > h1 {
    padding-top: 40px;
    font-variant: small-caps;
    font-size: 2rem;
}

header > p {
    padding-bottom: 40px;
}

header a, footer a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a :hover {
    text-decoration:underline
}
 section.imagem {
    background-color: black;
    color: aliceblue;
    box-shadow: inset 5px 5px 1px 0px rgb(21, 20, 20);
    background-size: cover;
background-attachment: fixed;
 }

 section.imagem p {
display: inline-block;
padding: 5px;
background-color: black;
text-shadow: 1px 1px 0px black;
 }

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 30px;
    padding-left: 30px;
    font-size: 1.5rem;
}

section.normal {
    background-color: aliceblue;
    color: black;
}

section > p {
    padding-bottom: 2em;
}

section#img01 {
   background-image:url(imagens/background001.jpg);
   background-position:right center;
}

section#img02 {
background-image: url(imagens/background002.jpg);
background-position: right center;
}



footer {
    background: linear-gradient(#000045, #00006B, #00005E);
    color: aliceblue;
    padding: 10px;
    text-align: center;

}