@charset ="UTF-8";

body {
    background-image: url('https://cas.volvocars.com/image/dynamic/MY23_2217/246/exterior-v2/P5/71700/RG0R00/R16D/TC05/_/2G03/TP05/_/_/GR09/T101/TJ06/NP02/TM04/_/CB03/EV02/JB0C/T201/LF05/_/VP07/UF08/FH01/T006/_/_/_/default.jpg?market=br&client=gox-graph%7Cpdps&angle=1&bg=descriptive-studio&h=800');
    background-position: left -100px;
    background-size: 1800px;
    
}

